################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TheBleedingDeacons.Intergroup.Register/Design/Old/BadiMain.ods
/TheBleedingDeacons.Intergroup.Register/Design/Old/BadiRegisterActual.xlsx
/TheBleedingDeacons.Intergroup.Register/Design/Old/BadiRegisterActual2.xlsx
/TheBleedingDeacons.Intergroup.Register/Design/Old/BadiRegisterActual3.xlsx
/TheBleedingDeacons.Intergroup.Register/Design/Old/BadiRegisterDesign.xlsx
/TheBleedingDeacons.Intergroup.Register/Design/Old/SampleSheet.xlsx
/TheBleedingDeacons.Intergroup.Models/bin/Debug/net9.0
/TheBleedingDeacons.Intergroup.Models/obj
